<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <form (ngSubmit)="mediaSearch()">
      <ion-item>
        <ion-label>Search</ion-label>
        <ion-input type="text" [(ngModel)]="searchInput" placeholder="Star Trek" name="searchInput"></ion-input>
      </ion-item>
      <br/>
      <button color="danger" margin ion-button type="submit" small>Search</button>
    </form>
  </ion-card>

  <ion-card *ngIf='searchData'>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let media of searchData" (click)="mediaTapped($event, media)">
          <ion-thumbnail item-left>
            <img src="{{media.object.primaryImage.metadata.thumbnail.url}}">
          </ion-thumbnail>
          <h2>{{media.object.metadata.name}}</h2>
          <p>({{media.object.metadata.releaseDate * 1000 | date: 'y'}})</p>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content>
      <ion-slides>
      </ion-slides>
    </ion-card-content>
  </ion-card>

</ion-content>