<ion-header>

  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <form (ngSubmit)="mediaSearch()">
      <ion-searchbar type="text" [(ngModel)]="searchInput" name="searchInput" debounce="1"></ion-searchbar>
    </form>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="!searchData">
    <h3 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Welcome to Movie Search!</h3>
    <p style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Just use the search bar above to find any movie or TV show, and it'll display which online service is streaming it.  It also shows you related media based on genres, as well as cast and crew!</p>
  </div>

  <ion-card *ngIf='searchData'>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let media of searchData" (click)="mediaTapped($event, media)">
          <ion-thumbnail item-left>
            <img src="{{media.object.primaryImage.metadata.thumbnail.url}}">
          </ion-thumbnail>
          <h2>{{media.object.metadata.name}}</h2>
          <p>({{media.object.metadata.releaseDate * 1000 | date: 'y'}})</p>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content>
      <ion-slides>
      </ion-slides>
    </ion-card-content>
  </ion-card>

</ion-content>