<ion-header>

  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedMedia.metadata.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <img src="{{selectedMedia.primaryImage.metadata.medium.url}}">
    <ion-card-content>
      <p>{{selectedMedia.metadata.description}}</p>
    </ion-card-content>
  </ion-card>

  <h3 style="text-align:center;">Main Contributors</h3>
  <ion-card padding>
    <ion-slides slidesPerView="3" spaceBetween="15">
      <ion-slide *ngFor="let contributor of contributors">
        <img src="{{contributor.object.primaryImage.metadata.thumbnail.url}}">
        <p>{{contributor.object.metadata.name}}</p>
        <p style="color: #d0d6e0;">{{contributor.context.relationships[0].role}}</p>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <h3 style="text-align:center;">Available Sources</h3>
  <ion-card *ngIf="sources">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col center col-4 *ngFor="let source of sources">
            <a href="{{source.object.metadata.webUrl}}"><img src="{{source.object.secondaryImage.metadata.thumbnail.url}}"></a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <h3 style="text-align:center;">Related Media</h3>
  <ion-card padding>
    <ion-slides loop slidesPerView="3" spaceBetween="15" autoplay="3000" *ngIf="relatedMedia">
      <ion-slide *ngFor="let media of relatedMedia" (click)="mediaTapped(media)">
        <img src="{{media.object.primaryImage.metadata.small.url}}">
        <p>{{media.object.metadata.name}}</p>
        <p>{{media.object.metadata.releaseDate * 1000 | date: 'y'}}</p>
      </ion-slide>
    </ion-slides>
  </ion-card>

</ion-content>